.detalhes-usuarios {
  padding: 30px;
  color: darkblue;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}
table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}
th {
  background-color: #fee600;
  color: darkblue;
  font-weight: 600;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f2f2f2;
}
.inativo {
  background-color: #ffe5e5 !important;
  color: #555;
}
td {
  font-size: 0.95rem;
}
.btn-editar-usuario {
  margin-top: 20px;
  padding: 10px 20px;
  background-color:#00008B;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.2s;
}

.btn-editar-usuario:hover {
  background-color: #0047b3;
}