.produtos {
  padding: 30px;
  color: darkblue;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}
.form-produto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.form-produto input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.form-produto button {
  background-color: #fee600;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #fee600;
  color: darkblue;
}
.editar,
.remover {
  border: none;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.editar {
  background-color: darkblue;
  color: white;
}
.remover {
  background-color: gray;
  color: white;
}