#login-form {
    input {
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        background-color: white(255, 255, 255, 0.9);
        margin-bottom: 0.5rem;

    }
}

#login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50vh;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 15px -8px;
    box-sizing: border-box;
}

#left-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 35vw;
    padding-left: 2rem;
    
    .title {
        color: darkblue;
    }
    button[type='submit'] {
 
    color: darkblue;
    border: 1px solid #FFF;
    font-weight: bold;
    width: 60%;
    background-color:#FEE600;
}
}
#left-container img{
  width: 200px;
  height: auto;
  margin-top: 0%;
  align-items: center;
}
#right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEE600;
    height: 100%;
    width: 25vw;
    border-radius: 0px 15px 15px 0px;

    .welcome-title {
        font-size: 2rem;
        color: darkblue;
        margin-bottom: 10px;

    }
    .welcome-message{
        color: darkblue;
        margin-bottom: 18px;
        font-size: 1.5rem;
        margin-top: 8px;
    }
    button[type='submit'] {
 
    color: darkblue;
    border: 1px solid #FFF;
    font-weight: bold;
    width: 60%;
    background-color:white;
}

}
#right-container img {
  width: 140px;
  height: auto;
  margin-top: 10%;
  margin-bottom: 11px;
  align-items: center;
}

.forgot-password-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    a{
        color: darkblue;
        font-size: 0.9rem;
        text-decoration: none;
    }
}
body {
  background-image: url('../assets/imgFundo.png'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  min-height: 100vh; 
  background-color: #f0f2f5; 
  margin: 0; 
  font-family: Arial, sans-serif;
}