#login-form {
    input {
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        background-color: white(255, 255, 255, 0.9);
        margin-bottom: 0.5rem;

    }
}

#login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50vh;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 15px -8px;
    box-sizing: border-box;
}

#left-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 35vw;
    padding-left: 2rem;
    
    .title {
        color: #15A69F;
    }
}
.icon-container{
    button{
        color: #15A69F;
        cursor: pointer;
        margin-right: 1rem;
        background-color: transparent;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}

#right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #15A69F;
    height: 100%;
    width: 25vw;
    border-radius: 0px 15px 15px 0px;

    .welcome-title {
        font-size: 2rem;
        color: #FFF;
    }
    .welcome-message{
        color: #FFF;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
}

button[type='submit'] {
 
    color: #FFF;
    border: 1px solid #FFF;
    font-weight: bold;
    width: 60%;
    background-color: #15A69F;
}
.forgot-password-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    a{
        color: #15A69F;
        font-size: 0.9rem;
        text-decoration: none;
    }
}