#login-form {
    input {
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        background-color: rgb(255, 255, 255, 0.9);
    }
}

#login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50vh;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 15px -8px;
    box-sizing: border-box;
}

#left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 35vw;
    
    .title {
        color: #15A69F;
    }
}

#right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #15A69F;
    height: 100%;
    width: 25vw;
    border-radius: 0px 15px 15px 0px;

    .welcome-title {
        color: #FFF;
    }
}

button[type='submit'] {
    margin-top: 20px;
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    font-weight: bold;
    width: 80%;
}