#home-bar {
    background-color: #FEE600;
    overflow: hidden;
    color: white;
    padding: 14px 16px;
    font-size: 18px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

    display: flex;
    flex-direction: row;

    .links {
        width: 85%;
    }
}

.avatar {
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: right;
        margin-left: 10px;
        
    }
    margin-right: 2%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;

}

.user-info {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a {
        color: darkblue;
        margin-right: 20px;
        text-decoration: none;
        font-size: 20px;
    }
}